@mixin font($fw, $fs, $lh, $ls) {
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    letter-spacing:$ls;
    }

.logo_first{
    @include font(700, 26px, 1.19, 0.03cm);
    font-family: 'Raleway',sans-serif;
        color:var(--first-logo-text-color);
        text-decoration: none;
    }

    .page_nav__logo_first{
        margin-right: 93px;
padding-top: 24px;
padding-bottom: 25px;
      }

    .logo__item_web{
        color:var(--accent-color)
    }

    .footer__logo_second{
        @include font(700, 26px, 1.19, 0.03cm);
        font-family:'Raleway',sans-serif;
            color:var(--accent-color) ;
            color:var(--primary-text-color-theme-dark);
            text-decoration: none; 
        }
      